<div class="container">
	<br><br>
	<h2 class="text-center">Angular ToDo List and Manager</h2>
	<div class="row justify-content-center">
		<div class="col-md-6 mx-auto text-center">
			<form class="form-inline justify-content-center mt-4">
				<input type="text" class="form-control mr-2" id="addTodo" [(ngModel)] = "task.name" name="task" placeholder="Add items here">
				<button class="btn btn-outline-primary" type="button" (click) = "onClick()">Add</button>
			</form>
		</div>
	</div>
	
	<!-- Items -->
	<div class="row justify-content-center">
		<div class="col-md-6 mt-4">
			<ul class="list-group">
				<li class="list-group-item" *ngFor="let item of tasks; let i=index">
					<span class="mr-2" [ngClass]="{'strike': item.strike}"><b>{{i+1}}.</b> {{item.name}}</span>
					<span class="manage_icon text-primary" data-toggle="tooltip" data-placement="top" title="Edit" (click)="onEdit(item)"><i class="fa fa-pencil" aria-hidden="true"></i></span>
					<span class="ml-2 manage_icon text-danger" data-toggle="tooltip" data-placement="top" title="Delete" (click)="onDelete(item)"><i class="fa fa-trash" aria-hidden="true"></i></span>
					<span class="ml-2 manage_icon text-success" data-toggle="tooltip" data-placement="top" title="Mark as Done" (click)="onMark(item)" *ngIf="!item.strike"><i class="fa fa-check" aria-hidden="true"></i></span>
					<span class="ml-2 manage_icon text-success" data-toggle="tooltip" data-placement="top" title="Remove Check" (click)="onMark(item)" *ngIf="item.strike"><i class="fa fa-minus" aria-hidden="true"></i></span>
				</li>
			</ul>
		</div>
	</div>

	<!-- {{tasks | json}} -->
</div>