<div class="container">
	<br><br>
	<h2 class="text-center">Angular ToDo List and Manager</h2>
	<div class="row justify-content-center">
		<div class="col-md-6 mx-auto text-center">
			<form class="form-inline justify-content-center mt-4">
				<input type="text" class="form-control mr-2" id="addTodo" [(ngModel)] = "task" name="task" placeholder="Add items here">
				<button class="btn btn-outline-primary" type="button" (click) = "onClick()">Add</button>
			</form>
		</div>
	</div>
	<span>
		{{tasks | json}}
	</span>
</div>